{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="bd">
        <div class="middle">
            <div id="info-line">
                <div class="covid"></div>
                <div class="currency"></div>
            </div>
            <nav>
                <div id="catalog">
                    <div id="level1"></div>
                    <div class="submenu">
                        <div id="level2"></div>
                        <div id="level3"></div>
                    </div>
                </div>

            </nav>
            <div id="products" style="display: none">
                <div id="product-filter">
                    <form id="filter-form">
                        <input hidden value="">

                    </form>
                </div>
                <div id="product-list-block">
                    <div id="product-list">

                    </div>
                    <div id="load-more" style="display: none">
                        Показать еще
                    </div>
                </div>
            </div>

            <div id="product-detail" style="display: none">
                    <div class="product-detail">
                        <div id="return-products-list" class="button">НАЗАД</div>
                        <div class="product-detail-title">Veri good product</div>
                        <div  class="product-detail-prices">
                            стоит
                        </div>
                        <div  class="product-detail-rating">
                            стоит
                        </div>
                        <div class="product-detail-images">
                            <img src="23213">
                        </div>
                        <div class="product-detail-chars">
                            <div class="product-detail-chars-color"><div class="key">Цвет</div><div class="val">1</div></div>
                            <div class="product-detail-chars-production"><div class="key">Дата выхода на рынок</div><div class="val">1</div></div>
                            <div class="product-detail-chars-weight"><div class="key">Вес</div><div class="val">1</div></div>
                            <div class="product-detail-chars-height"><div class="key">Высота</div><div class="val">1</div></div>
                            <div class="product-detail-chars-width"><div class="key">Ширина</div><div class="val">1</div></div>
                            <div class="product-detail-chars-deep"><div class="key">Глубина</div><div class="val">1</div></div>
                        </div>
                    </div>

                    <div class="product-detail-offers">

                    </div>

                </div>

            <div id="log_json"></div>
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function (){
            let url = "/api/info/covid/";

            $.ajax({
                url: url,
                dataType: "json",
                success: function (data) {
                        console.log(data)
                    let html_covid = `
                        <span style="color: black">infected: ${data.results[0].infected}</span>
                        <span style="color: red">deaths: ${data.results[0].deaths}</span>
                        <span style="color: green">recovered: ${data.results[0].recovered}</span>
                        <span style="color: royalblue">sick: ${data.results[0].sick}</span>
                    `

                    $('.covid').append(html_covid)

                }
            });

            let currency_list = ['USD', 'EUR', 'RUB']

            for (cur of currency_list){
                url = "/api/info/currency/"+cur;
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (data) {
                            console.log(data)
                        let html_currency = `<span style="color: black">${data.currency}: ${data.rate} рублей</span>`
                        $('.currency').append(html_currency)
                    }
                });
            }



            url = "/api/store/category/";
            $.ajax({
               url : url,
               dataType: "json",
               success : function (data){
                   console.log(data)
                   $('#log_json').text()

                   let html_cat = '<div class="cat-lvl1">'
                   for (cat1 of data.results) {
                       html_cat += '<div class="cat-item-lvl1" cat="'+cat1.slug+'"><div class="cat-item-lvl1-icon"></div><div class="cat-item-lvl1-title">'+cat1.name+'</div></div>'


                       let html_cat2 = '<div class="cat-lvl2" cat="'+cat1.slug+'" style="display: none">'
                       for  (cat2 of cat1.children) {
                           html_cat2 += '<div class="cat-item-lvl2" cat="'+cat2.slug+'"><div>'+cat2.name+'</div></div>'

                           let html_cat3 = '<div class="cat-lvl3" cat="'+cat2.slug+'" style="display: none">'
                           for (cat3 of cat2.children){
                               html_cat3 += '<div class="cat-item-lvl3"  cat="'+cat3.slug+'"><div>'+cat3.name+'</div></div>'
                           }
                           html_cat3 += '</div>'

                           $('#catalog #level3').append(html_cat3)
                       }

                       html_cat2 += '</div>'

                       $('#catalog #level2').append(html_cat2)
                   }

                   html_cat +='</div>'

                   $('#catalog #level1').append(html_cat)
               }
            });


        });

        $("#catalog").on('click', '.cat-item-lvl1', function(){
                let target_cat = $(this).attr('cat')
                console.log(target_cat)
                $('#catalog .submenu').show()
                $('.cat-lvl2').hide()
                $('.cat-lvl2[cat$='+target_cat+']').show()
                $('#products').hide()
        });

        $("#catalog").on('mouseover', '.cat-item-lvl2', function(){
                let target_cat = $(this).attr('cat')
                console.log(target_cat)
                $('.cat-lvl3').hide()
                $('.cat-lvl3[cat$='+target_cat+']').show()
        });

        $("#catalog").on('click', '.cat-item-lvl3', function(){
                let target_cat = $(this).attr('cat')
                console.log(target_cat)
                $('#catalog .submenu').hide()
                $('.cat-lvl3').hide()
                $('.cat-lvl2').hide()
                $('#product-list').empty()
                $('#products').show()

                let url = "/api/store/products/?category__slug="+target_cat;
                load_product_list(url)
        });

        $("#product-list-block").on('click', '#load-more', function(){
            let url = $('#load-more').attr('text')
            console.log(url)
            if (url) {
                load_product_list(url)
            }
        });

        function load_product_list(url){
                $.ajax({
                    url : url,
                    dataType: "json",
                    success : function (data) {
                        console.log(data)

                        for (product of data.results) {
                            if ( !product.rating) {
                                product.rating = ''
                            }

                            let img_htmp = '';
                            if ( product.images.length >0 ){
                                img_htmp = '<img src="'+product.images[0].image+'">';
                            }

                            let html_product =
                                `<div class="product-list-item" prd="${product.url}">
                                    <div class="product-list-item-img" >${img_htmp}</div>
                                    <div class="product-list-item-title">${product.full_name}</div>
                                    <div class="product-list-item-price">Рейтинг: ${product.rating}</div>
                                    <div class="product-list-item-vendors">Предложений: ${product.offers.length}</div>
                                </div>`;

                            $('#product-list').append(html_product)
                        }

                        if (data.next){
                            console.log(data.next)
                            $('#load-more').attr('text', data.next)
                            $('#load-more').show()
                        } else {
                            $('#load-more').removeAttr('text')
                            $('#load-more').hide()
                        }
                    }
                });
        };

        $(".product-detail").on('click', '#return-products-list', function(){
            $('#products').show()
            $('#product-detail').hide()
        });


        $("#product-list").on('click', '.product-list-item', function(){
            let url = $(this).attr('prd')

            if (url) {
                {#load_product_list(url)#}
                console.log(url)
                $('#products').hide()

                $.ajax({
                    url : url,
                    dataType: "json",
                    success : function (data) {
                        console.log(data)
                        $('.product-detail-title').text(data.full_name)
                        $('.product-detail-chars-production .val').text(data.production)
                        $('.product-detail-chars-color .val').empty()

                        $('.pproduct-detail-prices').empty()
                        console.log(data.min_price['BYN'])

                        if (data.min_price['BYN']){
                            let currency_list = ['BYN', 'USD', 'EUR', 'RUB']
                            let cur_price = 'Стоимость от |'
                            for (cur of currency_list){
                                cur_price += data.min_price[cur]+' '+cur+' | '
                            }
                            $('.product-detail-prices').text(cur_price)
                        }

                        if (data.color){
                            $('.product-detail-chars-color .val').append('<span style="color: '+data.color+';">&#x2588&#x2588 '+'</span>'+data.color)
                        }
                        $('.product-detail-chars-height .val').text(data.height)
                        $('.product-detail-chars-width .val').text(data.width)
                        $('.product-detail-chars-deep .val').text(data.deep)
                        $('.product-detail-chars-weight .val').text(data.weight)
                        $('.product-detail-rating').text(data.rating)


                        let thml_img = ''

                        for (img of data.images){
                            thml_img += '<img src="'+img.image+'">'
                        }
                        $('.product-detail-images').empty()
                        $('.product-detail-images').append(thml_img)

                        $('.product-detail-offers').empty()

                        if (data.offers) {
                            console.log(data.offers)
                            for (offer of data.offers){
                                let cur_price = ''
                                if (offer.price_in_currency['BYN']){
                                    let currency_list = ['BYN', 'USD', 'EUR', 'RUB']

                                    for (cur of currency_list){
                                        cur_price += data.min_price[cur]+' '+cur+'<br>'
                                    }
                                }


                                let html_offers = `<div class="product-detail-offers-item">
                                    <div class="product-detail-offers-item-name">${offer.vendor.name}</div>
                                    <div class="product-detail-offers-item-price">${cur_price}</div>
                                    <div class="product-detail-offers-item-bay button">Купить</div>
                                    </div>`
                                $('.product-detail-offers').append(html_offers)

                            }
                        }

                        $('#product-detail').show()




                        {#images#}
                        {#min_price#}
                        {#max_price#}
                        {#offers#}

                        {#vendor#}
                        {#price_in_currency#}


                    }
                });


            }
        });

    </script>
</body>
</html>